<!DOCTYPE html>
{% load static %}
{% load category %}
<html>
<head>
	<title>Ecom</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}

		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
			var cookieArr = document.cookie.split(";");
			for (var i = 0; i < cookieArr.length; i++) {
				var cookiePair = cookieArr[i].split("=");
				if (name == cookiePair[0].trim()) {
					// Decode the cookie value and return
					return decodeURIComponent(cookiePair[1]);
				}
			}

			return null;
		}

		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined) {
			cart = {}
			document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>

</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-info">
	<div class="container">
		<span class="navbar-brand mb-0 h1">Book-Shop</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'store' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				{% show_category %}
			</ul>
			<div class="form-inline my-2 my-lg-0">

				<a href="{% url 'cart' %}">
					<!--					<img id="cart-icon" src="{% static 'images/cart.png' %}">-->
					<svg width="32" height="32" viewBox="0 0 16 16" class="bi bi-basket-fill" fill="black"
						 xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							  d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 0 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
					</svg>
				</a>
				<p id="cart-total">{{cartItems}}</p>

			</div>
		</div>
	</div>
</nav>

<div class="container">
	<br>
	<br>
	<br>
	{% block content %}


	{% endblock content %}
	<br>
	<br>
</div>


<!--footer starts from here-->
<footer class="footer">
	<div class="container bottom_border">
		<div class="row">
			<div class=" col-sm-4 col-md col-sm-4  col-12 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
				<!--headin5_amrc-->
				<p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
					has been the industry's standard dummy text ever since the 1500s</p>
				<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
				<p><i class="fa fa-phone"></i> +91-9999878398 </p>
				<p><i class="fa fa fa-envelope"></i> info@example.com </p>


			</div>


			<div class=" col-sm-4 col-md  col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="#">Image Rectoucing</a></li>
					<li><a href="#">Clipping Path</a></li>
					<li><a href="#">Hollow Man Montage</a></li>
					<li><a href="#">Ebay & Amazon</a></li>
					<li><a href="#">Hair Masking/Clipping</a></li>
					<li><a href="#">Image Cropping</a></li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>


			<div class=" col-sm-4 col-md  col-6 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
				<!--headin5_amrc-->
				<ul class="footer_ul_amrc">
					<li><a href="#">Remove Background</a></li>
					<li><a href="#">Shadows & Mirror Reflection</a></li>
					<li><a href="#">Logo Design</a></li>
					<li><a href="#">Vectorization</a></li>
					<li><a href="#">Hair Masking/Clipping</a></li>
					<li><a href="#">Image Cropping</a></li>
				</ul>
				<!--footer_ul_amrc ends here-->
			</div>


			<div class=" col-sm-4 col-md  col-12 col">
				<h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
				<!--headin5_amrc ends here-->

				<ul class="footer_ul2_amrc">
					<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
						<p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>
						</p></li>
					<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
						<p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>
						</p></li>
					<li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
						<p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>
						</p></li>
				</ul>
				<!--footer_ul2_amrc ends here-->
			</div>
		</div>
	</div>


	<div class="container">
		<ul class="foote_bottom_ul_amrc">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<!--foote_bottom_ul_amrc ends here-->
		<p class="text-center">Copyright @2017 | Designed With by <a href="#">Adil Nassipolla</a></p>
	</div>

</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
